@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glow-text {
    text-shadow: 0 0 30px #6366f1, 0 0 80px #6366f1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

